.table td, .table th{
    padding: 4px;
}

.box-position{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 1px;
    border-radius: 0px 0px 5px 0px;
    text-align: center;
    font-weight: bold;
    width: 30px;
}

.box-color{
    min-width: 10px; 
    width: 10px; 
    min-height: 20px;
}

table{
    font-family: monospace;
    font-size: 20px;
}

body, html {
    height: 100%;
    padding-top: 0px;
  }

table#leadertable{
    background-color: rgba(0,0,0,.8); 
    color: #FFFFFF;
}

.bg {
    background-image: url('../images/formula.jpeg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
  }

table > tr{
    margin: 10px !important; 
}
td{
    padding: 5px;
}

.black-box{
    background-color: rgba(0,0,0,.9); 
    color: #ffe058;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.session-box{
    width: 800px;
    margin-left: 0px;
    border-radius: 0px;
    border-radius: 0px 15px 15px 0px;
    margin-bottom: 20px;
}

#status.alert-success{
    color: greenyellow;
}

#status.alert-danger{
    color: rgb(255, 57, 57);
}

.top-status{
    position: absolute; 
    top: 0px; 
    right: 15px;
}

.wait-for-event{
    position: fixed; 
    width: 100%; 
    height: 100%;
    background-color: black; 
    z-index: 9999;
}

.chosen-container{
    width: 100%;
}

.size-half{
    width: 50%;
}

.select-sources{
    width: 150px;
}

html {
    height: 100%;
    margin-bottom: 0.01em;
}

select.custom-select{
    background-color: #23272b;
    color: #FFFFFF;
    border-color: #111111;
}
.custom-select-2{
    background-color: #23272b;
    color: #FFFFFF;
    border-color: #111111;
}


